.box{
    margin: 50px auto;
border-radius: 15px;
    width: 500px;
    height:415px;
    position: relative;
    top: 72px;
    box-shadow: 0 30px 60px 0 rgb(0 0 0 /30%);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.box .eelu{
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(118, 161, 173);
}
.box .user-name,.password{
    border: 1px   rgb(118, 161, 173);
    border-radius: 5px;
    width: 460px;
    text-align: center;
    margin-left: 20px;
    font-size: 20px;
    color: rgb(118, 161, 173);
    background-color:#f6f6f6;
}
.box .radio{
  padding-left: calc(100%/4);
  margin: 5px 0 5px 0;
}
.box .radio, .lable{
    color: cadetblue;
}
.log-in{
    background-color:#56baed;
    width: calc(100%/3);
    text-align: center;
    margin-left:calc(100%/3);
    margin-bottom: 5px;
    color: #f6f6f6;
}
.box .footer{
    background-color:#f6f6f6;
    text-align: center;
}
.box .footer .font{
    color: #15dfd5;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }